---
import 'chota';
import Hero from "../components/hero.svelte";
import Nav from "../components/nav.svelte";
import Footer from "../components/footer.svelte";
import Showcase from "../components/showcase.svelte";

const title = 'Addy Bhatia';
---

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width">
  	<link rel="icon" type="image/x-icon" href="/favicon.ico" />
	<title>{title}</title>
</head>
<body>
	<Hero />
	<Nav />
	<Showcase  />
	<Footer />
</body>
</html>

<style>
	:root {
		--astro-gradient: linear-gradient(0deg,#4F39FA, #DA62C4);

		/* chota.css */
		--bg-color: #ffffff;
		--bg-secondary-color: #f3f3f6;
		--color-primary: #4F39FA;
		--color-lightGrey: #d2d6dd;
		--color-grey: #747681;
		--color-darkGrey: #3f4144;
		--color-error: #d43939;
		--color-success: #28bd14;
		--grid-maxWidth: 120rem;
		--grid-gutter: 2rem;
		--font-size: 1.6rem;
		--font-color: #333333;
		--font-family-sans: sans-serif;
		--font-family-mono: monaco, "Consolas", "Lucida Console", monospace;
	}

	html {
		scroll-behavior: smooth;
	}

	body {
		padding:10px;
	}

	@keyframes pulse {
		0%, 100% { background-position-y: 0%; }
		50% { background-position-y: 80%; }
	}

	:global(.toast) {
        --toastBackground: rgba(0,0,0,0.7);
        --toastBarBackground: #4F39FA
    }
</style>
